<style>
  nav {
   
}
</style>


 <nav class="navbar navbar-light" style="background-color: #0a4a56;"> {% comment %}position: fixed;top: 0px;width: 100%; {% endcomment %}
  <a class="navbar-brand" href="{% url 'index' %}" style="color: #FFFFFF">Shopping Site</a>
  <li class="nav-item dropdown">
    <a class="nav-link-brand" style="color: #FFFFFF; font-size: 20px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      𝒞𝒶𝓉𝑒𝑔𝑜𝓇𝒾𝑒𝓈
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #addfd6;">
      {% for category in categories %}
          <ul class="list-group" >
            <a href="{% url 'category_detail' category.pk %}" >
              <li style="background-color: #0a4a56; color: #FFFFFF" class="list-group-item">{{category.category_name}} </li>
            </a>
          </ul>
          <br>
      {% endfor %}
    </div>
  </li>
  {% if user.is_authenticated %}
      <a class="navbar-brand" href="{% url 'create-product' %}" style="color: #FFFFFF">𝒞𝓇𝑒𝒶𝓉𝑒 𝒶 𝓃𝑒𝓌 product</a>
      <a class="navbar-brand" href="{% url 'user_logout' %}" style="color: #FFFFFF">𝒬𝓊𝒾𝓉</a>
  {% else %}
      <a class="navbar-brand" href="{% url 'user_login' %}" style="color: #FFFFFF">ℒ𝑜𝑔𝒾𝓃</a>
      <a class="navbar-brand" href="{% url 'user_register' %}" style="color: #FFFFFF">ℛ𝑒𝑔𝒾𝓈𝓉𝑒𝓇</a>
  {% endif %}
  
</nav>



{% comment %} 
<nav class="navbar navbar-light" style="background-color: #472B5C;">
  <a class="navbar-brand" href="{% url 'index' %}" style="color: #FFFFFF">𝓜𝔂 𝓑𝓵𝓸𝓰𝓼</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> {% endcomment %}